libdieharder/*.o
libdieharder/*.lo
dieharder_version.h
dieharder/*.o
config.h
config.log
dieharder-config
dieharder.html
dieharder.spec
dieharder/.libs/*
dieharder/dieharder
libdieharder/.libs/*
libdieharder/libdieharder.la
libtool
stamp-h1
libdieharder/.deps/*.Plo
libdieharder/.deps/*.Po
Makefile
